html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #1a4341;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 720px;
    gap: 12px;
}

.input {
    overflow: auto;
    word-break: break-all;
    height: 250px;
}

.input:empty {
    display: none;
}

i {
    font-style: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-section {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 13px;
    background: #f5f2f0;
    border-radius: 10px;
    min-width: 150px;
}

.code-card {
    min-width: 500px !important;
    padding-left: 20px !important;

    height: 500px;
    overflow: auto;
}

select {
    margin: 8px;
}

samp {
    padding-left: 25px;
    font-size: large;
    margin-bottom: 22px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

a {
    margin-right: 8px;
    color: #1a4341;
}

button, select {
    background-color: #1a4341;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}

@media screen and (min-width: 0px)
    and (max-width: 900px) {
  .content {
    width: 380px;
  }
  .card-section {
    display: flex;
    flex-direction: column;
  }
  .code-card {
    min-width: 340px !important;
  }
  h1 {
    font-size: large;
  }
}